<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
            color: white;
            font-family: monospace;
        }
    </style>
</head>
<body class="flex items-center justify-center h-screen text-white font-mono" style="background-color: #131c28;">
    <div class="p-6 rounded-lg shadow-lg border-sm border-white">
        <form action="" method="POST">
            <div class="mb-4">
                <input type="text" name="username" placeholder="Username" class="w-full py-2 px-3 mb-3 bg-gray-800 border border-gray-600 rounded focus:outline-none focus:border-white text-white">
            </div>
            <div class="mb-4">
                <input type="password" name="password" placeholder="Password" class="w-full py-2 px-3 mb-3 bg-gray-800 border border-gray-600 rounded focus:outline-none focus:border-white text-white">
            </div>
            <button type="submit" class="w-full bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">Log In</button>
        </form>
        <p class="mt-4">Don't have an account? <a href="/register" class="text-blue-400 hover:text-blue-300">Register</a></p>
        {{#if error}}
            <p class="text-red-500">{{error}}</p>
        {{/if}}
    </div>
</body>
</html>
